@media (max-width:1364px){

  #content-2-text{
    text-align: center;
    display: block;
  }
  #plans{
    justify-content: space-around;
    gap: 40px;
  }
  .arrows{
     visibility: collapse;
  }
  .family{
    display: block;
  }
  /*contact page*/
  #contact-plans{
   border-right: none;
  }
  #contact-video{
  
  border-left: none;
}

}

@media (max-width:1021px){
 #content-1-Text{
  border: none;
 }
 #about-img{
  display: none;
 }
}

@media (max-width:845px){
  #welcomeText{
    width: 80%;
    color:whitesmoke;
  }
  #welcomeText > p > span{
    color: #f3bef3;
  }
}


@media (max-width:582px){
    #dark-logo{
         justify-content: flex-start;
         margin-left: 10px;
    }
    
    #logo > a> img{
     animation-name: none ;
     animation-duration: none;
   }
    #logo > hr{   
     width: auto;
     margin-top: -5px;
     border: #A376A2 1px solid;
  } 
  
  #navBarOptions{
    margin-right: 10px;
}

  #address-number{
    margin-left: -20px;
   }
  #socialmedia{
    margin-left: 20px;

  }
  .socialmedia-icons{
    width: 20px;
    height: 20px;
  }
  #footerlogo{
    margin-left:20px ;
  }

  #footerlogo > img{
   width: 30px;
    animation-name: none ;
     animation-duration: none;
  }

  #footerlogo > hr{
     width: auto;
     margin-top: -5px;
     border: #A376A2 1px solid;
  }
  #content-1-Imgs{
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 120px 120px;
  gap: 10px;
}

#content-3-check{
  height:280px ;
}
 #feedback{
      font-size: 8px;
      border-left:none;
 }

 #checkbtn{
  margin-top: 30px;
}




 /*contact page*/
 #contact-hero > h1{
  color: #A376A2;
  margin-top: 180px;
  margin-left: 15px;
  font-size: 40px;
}

 #contact-forms{
  width: 100px;
 }

 /*about page*/
 #about-hero > h1{
  color: #A376A2;
  margin-top: 180px;
  margin-right: 15px;
  font-size: 40px;
}

}